.team #btn-team{
    text-decoration: none;
    background-color:white;
    color:black;
    padding:0;
    height: 120x;
    margin-top:20px;
    display:  block;
    width: 100%;
}

@media(min-width:768px){
    .team #btn-team{ 
           padding:30px 10px; 
           margin-bottom: 150px;
    }
    .pric{
        font-size: 1.7rem;
    }
}

.jumbotron.team-page-jb{
    background-image:url("../images/team.png");
}

.jumbotron.team-page-jb h1#team-page-h1{
    font-size:38px;
        font-weight: 600;
        font-family: Oswald,sans-serif;
}

.team-page-jb h5{
    max-width:600px;
    text-align: center;
}

.coach-image{ 
    padding: 0 30px;
    height: 450px;
    margin:0 auto;
    /* width:90%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    position: relative;
    background-image: url('../images/coach.jpg');
 
}

.coach-title{
    margin:0 auto; 
}

tbody tr th{
    font-weight: 400;
}

.price-sale{
    background-color:rgb(187, 24, 24);
    padding:10px;
    text-transform: uppercase;
}

 